li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

html {
    font-size: 13.33vw;
}

header {
    height: 0.97rem;
    background: #d43c33;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.38rem;
    line-height: 0.97rem;
    border-bottom: 2px solid #eee
}

header .start i {
    position: absolute;
    display: inline-block;
    font-size: 0.42rem;
    color: #000;
    right: 0.3rem;
    top: 0rem;
}

section {
    flex: 1;
    overflow: auto;
    /* background: #f00; */
    border-bottom: 2px solid #eee
}

section .nav ul {
    display: flex;
    height: 0.8rem;
    font-size: 0.27rem;
    justify-content: space-around;
    align-items: center;
    background: #ff0;
    line-height: 0.8rem
}

section .nav a {
    color: #999999
}

section .nav li {
    width: 1.2rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .nav li:hover {
    color: #000;
    border-bottom: solid 2px #000
}

section .nav li:hover a {
    color: #000;
}

.nav-1 {
    width: 100%;
    height: 2.87rem;
    background: #ccc
}

.nav-2 {
    width: 100%;
    height: 4.74rem;
    background: #ff0;
    /* /* padding-left: 0.3rem;
    padding-right: 0.3rem; */
    /* margin: 0.3rem */
    margin-top: 0.3rem;
}

.nav-2 a {
    display: inline-block;
    width: 6.9rem;
    height: 2.9rem;
    margin: 0.3rem;
}

.nav-2 h3 {
    width: 6.9rem;
    font-size: 0.28rem;
    margin-left: 0.3rem;
    margin-top: -0.3rem;
    line-height: 0.62rem;
    font-size: 0.2rem;
    border-bottom: 0.02rem solid #eee;
    /* display: inline-block;
    justify-content: center;
    align-items: center */
}

.nav-2 p {
    width: 6.9rem;
    line-height: 0.92rem;
    font-size: 0.28rem;
    margin-left: 0.3rem;
    font-size: 0.3rem;
}

.nav-2 h3 span {
    /* display: inline-block;
    justify-content: center;
    align-items: center; */
    width: 0.68rem;
    height: 0.36rem;
    border: 2px solid #979797;
    border-radius: 0.2rem;
    font-size: 0.18rem;
    line-height: 0.36rem;
    text-align: center;
    color: #979797;
    margin-right: 0.22rem
}

.nav-2 p span i {
    display: inline-block;
    font-size: 0.3rem;
}

.nav-2 p span:nth-child(2) {
    margin-left: 0.8rem;
}

.nav-2 p span:nth-child(3) {
    float: right
}

footer {
    height: 0.97rem;
    background: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #eee;
}

.loot img {
    width: 1.5rem;
    height: 1.23rem;
    border-radius: 50%;
    position: relative;
    z-index: 11;
}

footer {
    height: 0.96rem;
    background: #272825;
    display: flex;
    color: #7b7a7a;
    justify-content: space-around;
}


/* .loot {
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
} */

.loot img {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: relative;
    z-index: 11;
}

footer figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .iconfont {
    font-size: 0.48rem;
}

footer figcaption {
    font-size: 0.2rem;
}

footer figure:hover {
    color: #fff;
}