* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 13.3333vw;
}

body, html {
    height: 100%;
}

body {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* header */

header {
    height: 1.24rem;
    position: fixed;
    width: 100%;
    background: #fff
}

header li a {
    color: #999;
    text-decoration: none
}
.big{font-size: .3rem;}


header li {
    font-size: .24rem;
    color: #999;
    float: left;
    line-height: 1.4rem;
    margin-left: .3rem;
    font-weight: 500;
}

#header-font {
    color: #101010;
    font-size: .42rem;
    position: absolute;
    top: .44rem;
    right: .3rem;
}

/* header end */

section {
    flex-grow: 1;
    margin-top: 1.24rem;
}

.tu img {
    height: 6.9rem;
    width: 6.9rem;
    margin: .3rem 0 0 .3rem
}
.tiao {
    margin: .3rem 0 .5rem 2.5rem;
    width: 2.66rem;
    height: .1rem;
    background: #000;
    border-radius: .1rem
}