li {
	list-style: none;
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0
}

html,
body {
	height: 100%
}

body {
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
}

html {
	font-size: 13.33vw;
}

section {
	flex: 1;
	overflow: auto;
}

section .price {
	width: 100%;
	height: 2.03rem;
	margin-left: 0.4rem;
}

section .nav {
	height: 1.64rem;
	width: 100%;
	display: flex;
	color: #000;
	justify-content: space-between;
	border-bottom: 10px solid #f9f9f9;
}

.nav figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav:nth-child(2) {
	margin-left: 0rem;
}

.nav .iconfont {
	font-size: 0.38rem;
}

.nav figcaption {
	font-size: 0.23rem;
}

.nav-1 {
	width: 100%;
	height: 1.9rem;
	border-bottom: 10px solid #f9f9f9;
	display: flex;
}

.nav-1 price {
	width: 3.7rem;
	height: 1.9rem;
}

.nav-1 img {
	display: inline-block;
	width: 3rem;
	height: 1.6rem;
	background: #ff0;
	margin: 0.1rem 0.3rem;
}

.nav-1 h3 {
	width: 3.7rem;
	/* height: 1.6rem;
    background: #ccc; */
	font-size: 0.24rem;
	font-weight: bold;
}

.nav-11 {
	width: 100%;
	height: 1.8rem;
	border-bottom: 0.1rem solid #f9f9f9;
}

.nav-11 p {
	height: 0.86rem;
	margin: 0px;
	margin-left: 0.3rem;
	/* line-height: 0.86rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-11 p span {
	display: inline-block;
	height: 0.5rem;
	width: 0.5rem;
}


.nana {
	width: 100%;
	height: 4.6rem;
	overflow: hidden;
}

.cloth {
	width: 6.68rem;
	height: 3rem;
	margin: 0 auto;
}

.cloth img {
	width: 6.68rem;
	height: 3rem;
}

.logo {
	height: 1.3rem;
	/* 	background: #6495ED; */
	margin-top: 0.4rem;
}

.nice {
	width: 1.3rem;
	height: 0.86rem;
	margin: 0 auto;
}

.logo img {
	width: 1.30rem;
	height: 0.86rem;
}

/* .introduce {
	height: 1.25rem;
	background: #ADFF2F;
}
 */
.introduce h2 {
	font-size: 0.3rem;
	margin-left: 0.42rem;
	color: #101010;
}

.paragraph {
	width: 6.66rem;
	height: 2.72rem;
	/* background: pink; */
	margin: 0.5rem auto;
	font-size: 0.24rem;
	line-height: 0.4rem;
	color: #999999;
}

.like {
	display: flex;
	justify-content: space-between;
}

.like h3 {
	font-size: 0.3rem;
	color: #101010;
	margin-top: 0.47rem;
	margin-left: 0.42rem;
	margin-bottom: 0.26rem;
}

.like a {
	display: block;
	color: #999999;
	font-size: 0.24rem;
	margin: 0.47rem 0.42rem 0.3rem 0;
}

.like {
	/* height: 6.55rem; */
	/* background: #FF1493; */
}

.guess {
	display: flex;
	/* background: #ADFF2F; */
	justify-content: space-between;
	/* height: 5.4rem; */
}

.guess figure {
	width: 2.7rem;
	height: 5.4rem;
	/* 	background: gold; */
	overflow: hidden;
}

.guess figure:first-child {
	margin-left: 0.45rem;
}

.guess figure:last-child {
	margin-right: 0.45rem;
}

.guess figure img {
	width: 2.69rem;
	height: 3.45rem;
}

.guess figcaption {
	height: 1.35rem;
}

.guess figcaption h2 {
	font-size: 0.23rem;
	color: #101010;
}

.guess figcaption p {
	color: #999999;
	font-size: 0.23rem;
}

.guess figcaption p:last-child {
	color: #101010;
	font-size: 0.23rem;
}

/* .guess figcaption span {
	margin-left: 1.7rem;
}
 */
.guess figcaption .iconfont {
	font-size: 0.32rem;
	color: #101010;
}

.cart {
	height: 1.28rem;
	/* background: #FFA500; */
}

.add {
	width: 3.2rem;
	height: 1.05rem;
	background: #fff;
	border: 1px solid #999999;
	border-radius: 0.1rem;
	font-size: 0.28rem;
	color: #101010;
	margin: 0.1rem 0.2rem 0.1rem 0.3rem;
}

.buy {
	width: 3.2rem;
	height: 1.05rem;
	background: #101010;
	border: 1px solid #999999;
	border-radius: 0.1rem;
	font-size: 0.28rem;
	color: #fff;
}

.tiao {
	margin: .3rem 0 .5rem 2rem;
	width: 2.66rem;
	height: .1rem;
	background: #000;
	border-radius: .1rem
}
